.map-control {
    background: #cccccc80;
    color: black;
}

.graph-view {
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    background: black;
}

.graph-label {
    color: white;
}

.message-info {
    padding: 10px;
    background: #6b6b6b80;
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
}

.message-error {
    padding: 10px;
    background: #fc058080;
    border-style: none;
    font-weight: bold;
    border-radius: 5px;
}

.number-view {
    font-weight: bold;
    font-size: 40px;
}

.number-view-width-1 {
        min-width: 85px;
}

.number-view-width-2 {
        min-width: 85px;
}

.number-view-width-3 {
        min-width: 85px;
}

.number-view-width-4 {
        min-width: 120px;
}

.number-view-width-5 {
        min-width: 120px;
}

.number-view-width-6 {
        min-width: 170px;
}

.number-view-width-7 {
        min-width: 170px;
}

.number-view-width-8 {
        min-width: 170px;
}

.page-label {
    font-weight: bold;
}

.status-label {
    padding: 10px;
}

.status-label-bold {
    font-weight: bold;
    padding: 10px;
}
