<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.bailu.aat">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >  </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >                </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >  </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >               </uses-permission>


    <application
        android:name="ch.bailu.aat.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_sname"
        android:theme="@android:style/Theme.NoTitleBar"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity
            android:name="ch.bailu.aat.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.PreferencesActivity">
        </activity>



        <activity
            android:name="ch.bailu.aat.activities.TrackListActivity">
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.OverlayListActivity">
        </activity>

        <activity
            android:name="ch.bailu.aat.activities.ExternalListActivity">
        </activity>

        <activity
            android:name="ch.bailu.aat.activities.GpxViewActivity">
            <!-- Reference: http://stackoverflow.com/questions/1733195/android-intent-filter-for-a-particular-file-extension -->

            <!-- Files from attachement / webbrowser ... -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/gpx" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="text/xml" />

                <data android:scheme="content" />
                <data android:scheme="file" />

                <data android:host="*" />
            </intent-filter>


            <!-- Files from filemanager without mime type setCopy -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.gpx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.osm" />
            </intent-filter>


            <!-- Files from filemanager with mime type setCopy -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.gpx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.osm" />
            </intent-filter>


        </activity>

        <activity
            android:name="ch.bailu.aat.activities.CockpitActivity">
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.CockpitSplitActivity">
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.CockpitTabletActivity">
        </activity>

        <activity
            android:name="ch.bailu.aat.activities.MapActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name="ch.bailu.aat.activities.FileContentActivity" >
        </activity>

        <activity android:name="ch.bailu.aat.activities.AboutActivity" >
        </activity>

        <activity android:name="ch.bailu.aat.activities.TestActivity" >
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.GpxEditorActivity">
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.OverpassActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.NominatimActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name="ch.bailu.aat.activities.MapFeaturesActivity" >
        </activity>
        <activity android:name="ch.bailu.aat.activities.MapFeatureListActivity" >
        </activity>
        <activity android:name="ch.bailu.aat.activities.NodeDetailActivity" >
        </activity>
        <activity android:name="ch.bailu.aat.activities.HtmlViewActivity" >
        </activity>


        <service android:name="ch.bailu.aat.services.OneService" >
        </service>


        <provider android:name="ch.bailu.aat.providers.GpxProvider"
            android:authorities="${applicationId}.gpx"
            android:exported="true">
        </provider>
    </application>

</manifest>
