<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.bailu.aat">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >  </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >                </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >  </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >               </uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_sname"
        android:theme="@android:style/Theme.NoTitleBar">


        <activity
            android:name="ch.bailu.aat.activities.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.PreferencesActivity">
        </activity>



        <activity
            android:name="ch.bailu.aat.activities.TrackListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.OverlayListActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="ch.bailu.aat.activities.ImportListActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="ch.bailu.aat.activities.GpxViewActivity"
            android:screenOrientation="portrait" >
            <!-- Reference: http://stackoverflow.com/questions/1733195/android-intent-filter-for-a-particular-file-extension -->

            <!-- Files from attachement / webbrowser ... -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:mimeType="application/gpx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:mimeType="application/xml" />
            </intent-filter>
            <!-- data android:mimeType="application/gpx+xml" /-->


            <!-- Files from filemanager without mime type set -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.gpx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.osm" />
            </intent-filter>


            <!-- Files from filemanager with mime type set -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.gpx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.osm" />
            </intent-filter>


        </activity>

        <activity
            android:name="ch.bailu.aat.activities.TrackerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.SplitViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.MapActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name="ch.bailu.aat.activities.FileContentActivity" >
        </activity>

        <activity android:name="ch.bailu.aat.activities.AboutActivity" >
        </activity>

        <activity android:name="ch.bailu.aat.activities.TestActivity" >
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.GpxEditorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.OverpassActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.NominatimActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="ch.bailu.aat.activities.MapFeaturesActivity" >
        </activity>
        <activity android:name="ch.bailu.aat.activities.MapFeatureListActivity" >
        </activity>
        <activity android:name="ch.bailu.aat.activities.NodeDetailActivity" >
        </activity>
        <activity android:name="ch.bailu.aat.activities.HtmlViewActivity" >
        </activity>


        <service android:name="ch.bailu.aat.services.OneService" >
        </service>


        <provider android:name="ch.bailu.aat.providers.GpxProvider"
            android:authorities="${applicationId}.gpx"
            android:exported="true">
        </provider>
    </application>

</manifest>
