<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- force min SDK version (if using local MapsForge) -->
    <uses-sdk tools:overrideLibrary = "
        org.mapsforge.map.android,
        org.mapsforge.poi.android,
        org.sqlite.database
        "/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!--Android 12 BLE permission: https://developer.android.com/about/versions/12/features/bluetooth-permissions-->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- requesting permission android.permission.BLUETOOTH implies
         that this app is only compatible with devices which have
         Bluetooth; the following overrides this and declares that
         Bluetooth is not strictly required -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:name="ch.bailu.aat.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_sname"
        android:theme="@android:style/Theme.Black.NoTitleBar"
        android:fullBackupContent="@xml/backup_descriptor">

        <uses-library android:name="android.test.runner" />

        <activity
            android:exported="true"
            android:name="ch.bailu.aat.activities.MainActivity">
                        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.PreferencesActivity">
        </activity>

        <activity
            android:name="ch.bailu.aat.activities.TrackListActivity">
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.OverlayListActivity">
        </activity>

        <activity
            android:name="ch.bailu.aat.activities.ExternalListActivity">
        </activity>

        <activity
            android:exported="true"
            android:name="ch.bailu.aat.activities.GpxViewActivity">
            <!-- Reference: http://stackoverflow.com/questions/1733195/android-intent-filter-for-a-particular-file-extension -->

            <!-- Files from attachement / webbrowser ... -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/gpx+xml" />
                <data android:mimeType="application/gpx" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="text/xml" />

                <data android:scheme="content" />
                <data android:scheme="file" />

                <data android:host="*" />
            </intent-filter>


            <!-- Files from filemanager without mime type setCopy -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.gpx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.osm" />
            </intent-filter>


            <!-- Files from filemanager with mime type setCopy -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.gpx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.osm" />
            </intent-filter>


        </activity>

        <activity
            android:name="ch.bailu.aat.activities.CockpitActivity">
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.CockpitSplitActivity">
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.CockpitTabletActivity">
        </activity>

        <activity
            android:exported="true"
            android:name="ch.bailu.aat.activities.MapActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name="ch.bailu.aat.activities.FileContentActivity" >
        </activity>

        <activity android:name="ch.bailu.aat.activities.AboutActivity" >
        </activity>

        <activity
            android:name="ch.bailu.aat.activities.GpxEditorActivity">
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.OverpassActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.NominatimActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="ch.bailu.aat.activities.PoiActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name="ch.bailu.aat.activities.NodeDetailActivity" >
        </activity>

        <service android:name="ch.bailu.aat.services.OneService" >
        </service>


        <provider android:name="ch.bailu.aat.providers.GpxProvider"
            android:authorities="${applicationId}.gpx"
            android:exported="true">
        </provider>

        <provider
            android:name="ch.bailu.aat.providers.GpxDocumentProvider"
            android:authorities="${applicationId}.gpxdocs"
            android:grantUriPermissions="true"
            android:exported="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

    </application>
</manifest>
