[Desktop Entry]
Type=Application
Terminal=false
Exec=/app/bin/aat.sh
Name=AAT Activity Tracker (Flatpak)
Comment=Activity tracker and map viewer
Icon=ch.bailu.aat
